@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1634005300714') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi:before {
  content: "\e693";
}

.icon-xuanze:before {
  content: "\e617";
}

.icon-gouwuche:before {
  content: "\e636";
}

.icon-fangjian:before {
  content: "\e613";
}

.icon-budingxinxi:before {
  content: "\e609";
}

.icon-saoma:before {
  content: "\e624";
}

.icon-yanjing_xianshi_o:before {
  content: "\ebcc";
}

.icon-yanjing_yincang_o:before {
  content: "\ebcd";
}

.icon-wo:before {
  content: "\e68f";
}

.icon-youjiantou:before {
  content: "\e6a3";
}

.icon-loc-s:before {
  content: "\e654";
}

.icon-xinfeikangfu:before {
  content: "\e619";
}

.icon--:before {
  content: "\e604";
}

.icon-yaowan:before {
  content: "\e859";
}

.icon-anquantaobiyuntao:before {
  content: "\e632";
}

.icon-sousuo:before {
  content: "\e63d";
}

.icon-yezi:before {
  content: "\e7d8";
}

.icon-wei:before {
  content: "\e953";
}

.icon-wenduji:before {
  content: "\e7aa";
}

.icon-mianxingyaopingtubiao:before {
  content: "\e6a6";
}

